<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- TargetClass 등록 -->
    <bean id="targetClass" class="org.example.bean.TargetClass" />

    <!-- AspectClass 등록 -->
    <bean id="aspectClass" class="org.example.advice.AspectClass" />

    <!-- AOP 설정 -->
    <aop:config>
        <!-- 충고 등록 -->
        <aop:aspect ref="aspectClass">

        </aop:aspect>
    </aop:config>

</beans>
